
/* =====================================   Normalize CSS   ===================================== */



/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

/* =====================================   Normalize CSS - FINISHED  ===================================== */ 


.topBar {
  background-color: black;
  color: white;
  height: auto;
  display: flex;
  margin: 0;
  justify-content: space-between;
}
.topBar h3 { 
  font-family: sans-serif;
  font-weight: normal;
  margin: 0;
  padding: 14px;
}

.topBar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;;
}
.topBar li {
  float: left;
}

.topBar li a {
  display: block;
  color: white;
  text-align: right;
  padding: 16px;
  text-decoration: none;
  font-family: sans-serif;
}
.topBar li a:hover { 
  background-color: grey;
}

/* ========== Splash page ========== */
.splash { 
  color: white;
  text-align: center; 
  height: 64vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(./Pics/Splash/Splash1.jpeg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  flex-direction: column;
  justify-content: center;
  display: flex;
  background-repeat: no-repeat;
}

.splash h1, .splash h2, .splash a { 
  margin: 0.5em;
  
}

.icon {
  width: 30px;
  height: 30px;
  border: 1px solid #39603D;
  color: #39603D;
  transition-property: color, border-color, background-color;
  transition-timing-function: ease-in;
  transition: 0.2s;
}

.icon:hover {
  color: #DADED4;
  background-color: #FFFFFF;
}

.splash h1, .splash h2 {
  font-family: Arial, Helvetica, sans-serif;
}

.splash a {
  padding: 1em;
  background-color: black;
  color: white;
  font-family: sans-serif;
  border: 1px solid white;
  max-width: 10%; 
  align-self: center; 
  text-decoration: none; 
}

/* ========== Main page ========== */
.linkWrapper { 
  text-align: center;

}
.topLink {
  color: orange;
  font-family: sans-serif;
  font-size: small;
  text-align: center;
}

main {
  margin: 0 1.5%;
}

main section h1 {
  text-align: center; 
}

/* Location */
.map iframe {
  width: 100%;

}

/* Gallery */


.innerGridGallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: Auto;
  gap: 1em;
}

.innerGridGallery img {
  width: 100%;
  height: 100%;

}


#largePic {
  grid-column: 1/-1;  
}

/* Dishes */
.dishesWrapper { 
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20%;
  padding: 0 10%;

}

.dish h4 { 
  text-align: center;
  font-size: medium;
}

/* Ingredients */

.ingredientsWrapper { 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1em;
}

/* ========== Footer ========== */

footer {
  background-color: black;
  text-align: center;
  color: white;
  margin-top: 1em;
  margin-bottom: 0;
}

footer h5 {
  padding: 1em;
  margin: 0;
}

footer h5 a {
  color: orange;
  text-decoration: none;
  
}

footer h6 {
  margin: 0;
  padding: 1em;

}
footer a { 
  font-size: x-small;
  color: orange;
}


/*Responsive design*/

img {
  max-width: 100%;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


[hidden] {
  display: none;
}

/*Media queries*/

@media screen and (max-width:960px) {

}


@media screen and (max-width:660px) {
  .dishesWrapper { 
    grid-template-columns: 1fr;
  }
  .ingredientsWrapper { 
    grid-template-columns: 1fr 1fr;
  } 
  .innerGridGallery {  
    grid-template-columns: 1fr ;
  }

}


@media screen and (max-width:460px) {
  .ingredientsWrapper {  
    grid-template-columns: 1fr;
  }

}
@media print {
  .campus {
    grid-template-columns: 1fr 1fr;
  }
}